OWNERS filter=lfs diff=lfs merge=lfs -text
platforms filter=lfs diff=lfs merge=lfs -text
product_variables filter=lfs diff=lfs merge=lfs -text
rules_cc filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
bazel_skylib filter=lfs diff=lfs merge=lfs -text
darwin.bazelrc filter=lfs diff=lfs merge=lfs -text
linux.bazelrc filter=lfs diff=lfs merge=lfs -text
examples filter=lfs diff=lfs merge=lfs -text
json_module_graph filter=lfs diff=lfs merge=lfs -text
common.bazelrc filter=lfs diff=lfs merge=lfs -text
rules filter=lfs diff=lfs merge=lfs -text
ci filter=lfs diff=lfs merge=lfs -text
docs filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
bazel.BUILD filter=lfs diff=lfs merge=lfs -text
bazel.sh filter=lfs diff=lfs merge=lfs -text
bazel.WORKSPACE filter=lfs diff=lfs merge=lfs -text
